

.main {
    background: #f8f8f8;
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

/*header*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 30px;
    padding-bottom: 30px;
}

.con {
    padding-left: 100px;
    padding-right: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1500px;
    margin: 0 auto;
}

.con_2 {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    padding-top: 90px;
    padding-bottom: 50px;
    background: url(../img/footer_bg.png) no-repeat center;
    -moz-background-size: cover;
         background-size: cover;
}

.footer_nav {
    text-align: center;
    margin-bottom: 80px;
}

.footer_nav>a {
    display: inline-block;
    height: 30px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 13px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

/*分页*/
.paging {
    margin-top: 40px;
}

.pag_list {
    float: right;
}

.pag_list>a {
    display: block;
    float: left;
    font-size: 16px;
    color: #C49E57;
    padding: 10px;
    font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.pag_list>a.active {
    font-weight: bold;
    font-family: Butler-Bold,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}


.box_1 {
    background: #fff;
    padding-bottom: 90px;
}

.box_2 {
    padding: 50px;
    background: #fff;
}

.box_6 {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px dashed #C49E56;
}


.hander_con {
    /*padding-top: 30px;
    padding-bottom: */
}

.header_box {


    /*width: 1180px;*/
    /*margin: 0 auto;*/
}

.logo {
    /*display: block;*/
}

.logo img {
    height: 38px;
    display: block;
    float: left;
}

.nav_box {
    float: right;

}

.nav {
    float: left;
    /*height: 25px;*/
    /*margin-right: 50px;*/
}

.nav>li {
    float: left;
    margin-right: 50px;
}

.nav>li>a {
    display: block;
    text-decoration: none;
    color: #C49E56;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    opacity: .7;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.nav>li.active>a {
    border-bottom: 1px solid #C49E56;
    opacity: 1;
    /*font-weight: bold;*/
    font-family: Roboto-Medium,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.nav>li>a:hover {
    opacity: 1;
    /*font-weight: bold;*/
}

.language {
    float: left;
    width: 90px;
    height: 30px;
    border: 1px solid #C49E57;
    cursor: pointer;
}

.language>div {
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 28px;
    /*background: #fff;*/
    color: #C49E57;
    font-size: 13px;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.language>div:first-child {
    border-right: 1px solid #C49E57;
    /*font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif*/
}

.language>div.active {
    color: #fff;
    background: #C49E57;
}

.language>div.hover{
    background: #C49E57;
    color:#fff;
}
.language>div.hover.active{
    background: none;
    color: #C49E57;
}

.nav_tab_btn {
    display: none;
    float: right;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.nav_tab_btn>i {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-left: 9px;
    border-top: 2px solid #C49E57;
    border-bottom: 2px solid #C49E57;
}

.nav_tab_btn>i:after {
    content: '';
    display: block;
    height: 2px;
    background: #C49E57;
    margin-top: 7px;
}

.header.toggle {
    background: #fff;
}

.header.toggle .nav_box {
    display: block;
}

.header.toggle .nav_tab_btn>i {
    border-color: #C49E57;
}

.header.toggle .nav_tab_btn>i:after {
    background: #C49E57;
}

/*banner*/
.banner_box {
    width: 100%;
    height: 770px;
    height: 100vh;
    background: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

}

/*.banner{
    height: inherit;
    width: inherit;
}*/
.banner_list {
    height: inherit;
    width: inherit;
    position: relative;
}

.banner_item {
    opacity: 0;
    /*display: none;*/
    height: 100%;
    width: 100%;
    position: relative;
    position: absolute;
    top: 0;
    bottom: 0;
}
.banner_list>.banner_item:first-child{
    opacity: 1;
}
.banner_item.active{
    opacity: 1;
}

.banner_img {
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: -1;*/
}

.banner_item.active {
    display: block;
}

.banner_txt {
    /*width: 1180px;*/
    height: 100%;
    /*margin: 0 auto*/
}

.banner_txt_con {
    padding-top: 90px;
    padding-bottom: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-flow: column nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    height: 100%;
}

.banner_txt h1 {
    font-size: 64px;
    width: 600px;
    color: #fff;
    line-height: 80px;
    margin-bottom: 20px;
    font-family: Butler_ExtraBold,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}


.banner_txt_con .link_1 .link_1-text {
    color: #fff;
}

.banner_nav {
    width: inherit;
    /*padding-top: 150px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.banner_nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -moz-box-align: end;
    align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row nowrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row nowrap;
    position: relative;
    /*z-index: 5;*/
}

.banner_nav_list a {
    display: block;
    width: 120px;
    margin-right: 100px;
    /*height: */
    padding-bottom: 110px;
    position: relative;
    opacity: .8;
    float: left;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}

.banner_nav_list a span {
    margin-bottom: 10px;
    font-family: Roboto-Medium,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.banner_nav_list a:after {
    content: '';
    display: block;
    position: absolute;
    height: 100px;
    width: 0;
    border-left: 1px solid #fff;
    left: 0;
    bottom: 0;
}

.banner_nav_list a.active,
.banner_nav_list a:hover {
    opacity: 1;
}


/**/
.text_box_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-top: 90px;
}

.text_box_1>div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    display: -webkit-box;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;

}

/**/
.img_list-2>li {
    width: 288px;
    height: 480px;
    float: left;
    margin-right: 20px;
    /*position: relative;*/
}

.img_list-2>li>div {
    width: inherit;
    height: inherit;
    position: relative;
    -webkit-transition: width .2s,height .2s,margin-top .2s,margin-left .2s;
    -moz-transition: width .2s,height .2s,margin-top .2s,margin-left .2s;
    transition: width .2s,height .2s,margin-top .2s,margin-left .2s;
}
.img_list-2>li>div:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: url(../img/mask.png) no-repeat center bottom;
    background-size: 100% auto;
    z-index: 1;
}

.img_list-2>li.active>div,
.img_list-2>li:hover>div {
    width: 318px;
    height: 528px;
    margin-top: -24px;
    margin-left: -15px;
    /*animation:myfirst .2s forwards;*/

}

@-webkit-keyframes myfirst
{
    0%   {
        width: 288px;
        height: 480px;
        margin-top: 0;
        margin-left: 0;
    }
    100% {
        width: 318px;
        height: 528px;
        margin-top: -24px;
        margin-left: -15px;
    }
}

@-moz-keyframes myfirst
{
    0%   {
        width: 288px;
        height: 480px;
        margin-top: 0;
        margin-left: 0;
    }
    100% {
        width: 318px;
        height: 528px;
        margin-top: -24px;
        margin-left: -15px;
    }
}

@keyframes myfirst
{
    0%   {
        width: 288px;
        height: 480px;
        margin-top: 0;
        margin-left: 0;
    }
    100% {
        width: 318px;
        height: 528px;
        margin-top: -24px;
        margin-left: -15px;
    }
}

.img_list-2 {
    width: 5000px;
}

.img_list-2>li>div div.title_8{
    font-family: Butler-Bold,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    position:absolute;
    bottom: 20px;
    left: 20px;
    width: 160px;
    line-height: 30px;
    font-size: 22px;
    color: #fff;
    z-index: 2;
}

/**/
.img_roll_box{
    height: 100%;
    width: 100%;
    position: relative;
}

.roll_btn{
    height: 60px;
    width: 60px;
    display: block;
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}
.roll_btn:hover{
    opacity: 1;
}

.roll_btn.left_btn{
    -webkit-transform: scale(-1,1);
       -moz-transform: scale(-1,1);
        -ms-transform: scale(-1,1);
            transform: scale(-1,1);
    left: 50px;
    display: none;
}

.roll_btn.right_btn{
    right: 50px;
}



.det_img_btn{
    height: 40px;
    width: 40px;
    display: block;
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.det_img_btn:hover{
    opacity: 1;
}
.det_img_btn.right_btn{
    right: 20px;
}

.det_img_btn.left_btn{
    left: 20px;
    -webkit-transform: scale(-1,1);
       -moz-transform: scale(-1,1);
        -ms-transform: scale(-1,1);
            transform: scale(-1,1);
}

/**/
.list_3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /*flex-direction:column;*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.list_3:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.list_3>.lis_3_item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}

.list_3>.lis_3_item_text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.list_3>.lis_3_item_img>img {
    /*width: 100%;*/
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.lis_3_item_text .text_1 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.list_4 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.list_4_item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px 50px 50px;
}

.list_5 {
    margin-left: -30px;
    margin-right: -30px;
}

.list_5>div {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
}

.list_5 .list_5_img>img {
    width: 100%;
}
.list_5 .list_5_img-x{
    /*height: */
}
.list_5 .list_5_img-x {
    /*width: 100%;*/
}
.list_5 .list_5_img-x>.det_img_con .det_img_box{
    height: 346px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.det_img_list{
    width: 500%;
    height: 100%;
}
.det_img_list>.det_img_item{
    height: 100%;
    width: 520px;
    float: left;
}
.det_img_list>.det_img_item>.item_con{
    width: 100%;
    height: 100%;
}
.det_img_list>.det_img_item>.item_con>video{
    width: 100%;
    height: 100%;
}

.det_img_btn-box{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
}
.det_img_btn-list{
    overflow:hidden;
}
.det_img_btn-list>li{
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.det_img_btn-list>li:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .5;
}
.det_img_btn-list>li:hover:after,
.det_img_btn-list>li.active:after{
    opacity: 0;
}


.list_5_text .text_1 {
    /*padding-top: 30px;*/
    /*padding-bottom: 20px;*/
}

.list_6 {
    margin-left: -17px;
    margin-right: -17px;
}

.list_6_title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 20px 15px;
}

.img_box {
    width: 100%;
}

.img_box img {
    display: block;
    width: 100%;
}


/**/

.box_3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box_4>div {
    width: 50%;
    float: left;
}





























/*=======================g公共 组件 样式=====================*/

.title_1,
.title_2,
.title_3,
.title_5,
.title_6,
.title_7,
.title_8,
.label_x{
    font-family: Butler_ExtraBold,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}
.title_4{
    font-family: Butler-Bold,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}


.text_1,
.text_2,
.text_3,
.text_4,
.text_5,
.text_6,
.text_7,
.text_8,
.label_1,
.label_4,
.link_4{
    font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.title_2,
.title_3 {
    color: #C49E57;
    font-size: 48px;
    line-height: 66px;
}

.title_2:after,
.title_3:after {
    content: '';
    display: block;
    width: 90px;
    margin-top: 25px;
    height: 0;
    border-bottom: 1px solid #C49E57;
}

.title_3 {
    text-align: center;
}

.title_3:after {
    margin: 35px auto 0;
}

.title_4 {
    color: #C49E57;
    font-size: 32px;
    line-height: 35px;
}

.title_4:after {
    content: '';
    display: block;
    width: 70px;
    margin-top: 25px;
    height: 0;
    border-bottom: 1px solid #C49E57;
}

.title_5 h3 {
    color: #C49E57;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: Butler_ExtraBold,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.title_5 span {
    color: #C49E57;
    font-size: 14px;
    line-height: 30px;
    font-family: Roboto-LightItalic,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.title_5:after {
    content: '';
    display: block;
    width: 90px;
    margin-top: 30px;
    height: 0;
    border-bottom: 1px solid #C49E57;
}

.title_6 {
    color: #C49E57;
    font-size: 18px;
    line-height: 30px;
}

.title_7 {
    font-size: 22px;
    color: #C49E57;
}


.list_6_item {
    width: 33.33%;
    float: left;
    padding: 17px;
    /*padding-left: 17px;
    padding-right: 17px;*/
}

.list_6_con {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
}

.list_6_con:hover {
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);

}

.list_6_img {
    /*height: 246px;*/
    width: 100%;
}

.list_6_img>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.label_x {
    width: 66px;
    height: 70px;
    background: url(../img/sale.png) no-repeat center;
    -moz-background-size: 100%;
    background-size: 100%;
    padding-top: 37px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 0;
    color: #fff
}

/*.list_6_title{
    margin: 20px;
}*/

/*文字*/
.text_1,
.text_2,
.text_3 {
    color: #C49E57;
    font-size: 15px;
    line-height: 30px
}

.text_2 {
    /*color: #C49E57;
    font-size: 15px;
    line-height: 30px;*/
    padding-left: 55px;
    position: relative;
}

.text_2:after {
    content: '';
    display: block;
    width: 33px;
    height: 24px;
    background: url(../img/yh.png) no-repeat center;
    -moz-background-size: 100%;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.text_3 {
    text-align: center;
    padding-left: 140px;
    padding-right: 140px;
}

.text_4 {
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 24px;
}

.text_5 {
    color: #C49E57;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.text_6 {
    color: #C49E57;
    font-size: 12px;
    line-height: 20px;
}

.text_7 {
    color: #999;
    font-size: 12px;
    line-height: 30px;
    height: 90px;
    margin: 15px 20px 20px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*链接*/
.link_1 {
    display: block;
    line-height: 26px;
}

.link_1 .link_1-ico {
    display: inline-block;
    height: 26px;
    width: 26px;
    vertical-align: middle;
    background: url(../img/icon1.png) no-repeat center;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}
.link_1 .link_2-ico{
    display: inline-block;
    height: 26px;
    width: 26px;
    vertical-align: middle;
    background: url(../img/i_right.png) no-repeat center;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}
.link_1 .link_1-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #C49E57;
    margin-left: 10px;
    font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.link_2 {
    text-align: right;
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
    /*font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif*/
}

.link_2>a {
    color: #C49E57;
    font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}
/*.link_2>a span{
    font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}*/
.link_2>a span{
    font-family: Butler-Bold,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}
.link_4 {
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    padding-right: 20px;
    background: url(../img/i_right-2.png) no-repeat center right;
    -moz-background-size: 14px;
    background-size: 14px;
    color: #C49E57;
    /*margin-top: 20px;*/
}

.label_1 {
    padding-left: 35px;
    font-size: 15px;
    line-height: 30px;
    position: relative;
    color: #999;
    margin-top: 17px;
}

.label_1>i {
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 5px;
    left: 0;
}

.label_2 {
    padding-left: 54px;
    font-size: 15px;
    line-height: 30px;
    position: relative;
    color: #C49E57;
    margin-top: 30px;
    font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.label_2>i {
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
    top: -2.5px;
    left: 0;
}

.label_3 {
    /*padding-top: 50px;*/
    padding-left: 70px;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    margin-top: 50px;
}

.label_3>i {
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -5px;
    left: 0;
}

.label_3>p {
    color: #C49E57;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.label_3>pre {
    color: #999;
    font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.label_4 {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /*justify-content:center ;*/
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.label_4 span {
    font-size: 12px;
    color: #C49E57;

}

.label_4 i {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.box_5 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dashed #C49E57;
}



/*icon*/
.i_right {
    background: url(../img/i_right.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}
.i_email {
    background: url(../img/i_email.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_site {
    background: url(../img/i_site.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_phone {
    background: url(../img/i_phone.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_rili {
    background: url(../img/i_rili.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_duration {
    background: url(../img/i_duration.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_price {
    background: url(../img/i_price.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_pay {
    background: url(../img/i_pay.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_route {
    background: url(../img/i_route.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_scenic {
    background: url(../img/i_scenic.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_hotel {
    background: url(../img/i_hotel.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_butler {
    background: url(../img/i_butler.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_vehicle {
    background: url(../img/i_vehicle.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_yes {
    background: url(../img/i_yes.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_no {
    background: url(../img/i_no.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_email-2 {
    background: url(../img/i_email-2.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.i_top {
    background: url(../img/i_top.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.go_top>div:hover .i_email-2 {
    background: url(../img/i_email-3.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

.go_top>div:hover .i_top {
    background: url(../img/i_top-2.png) no-repeat center;
    -moz-background-size: contain;
    background-size: contain;
}

/*面包屑*/
.link_3 {
    font-size: 12px;
    line-height: 30px;
    color: #999;
    padding-top: 120px;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.link_3>a {
    color: #C49E57;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.link_3>.span_1 {
    color: #C49E57;
    margin-left: 10px;
    margin-right: 10px;
}

/*图片列表*/
.img_list-3 {
    margin-left: -15px;
    margin-right: -15px;

    /*display: flex;*/
}

.img_list-3>li {
    padding-left: 15px;
    padding-right: 15px;

    width: 33.33%;
    float: left;

    /*height: 246px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /*height:  */
}

.img_list-3>li>div {
    width: 100%;
    /*height: 100%;*/
    height: 272px;
}
.img_list-3>li>div:hover{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.3);
       -moz-box-shadow: 0 0 20px rgba(0,0,0,.3);
            box-shadow: 0 0 20px rgba(0,0,0,.3)
}
/*.img_list-3>li>img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}*/

.textarea_1 {
    background: #fff;
    padding: 15px;
    margin-top: 20px;
}

.textarea_1 textarea {
    width: 100%;
    height: 80px;
    /*padding: 10px;*/
    border: none;
    outline: none;
    resize: none;
}

.textarea_1 .but_box {
    text-align: right;
}

.textarea_1 .but_box .btn {
    display: inline-block;
    padding: 10px;
    border: 1px solid #C49E57;
    color: #C49E57;
    font-size: 12px;
    cursor: pointer;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.textarea_1 .but_box .btn:active {
    background: #C49E57;
    color: #fff;
}


/*select*/
.c_select {
    width: 132px;
    display: inline-block;
    text-align: left;
    height: 32px;
    margin-left: 10px;
    /* line-height: 30px; */
    border: 1px solid #C49E57;
    cursor: pointer;
    color: #C49E57;
    position: relative;
    z-index: 101;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

.c_select_btn {
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 10px;
    background: url(../img/i_select-2.png) no-repeat center right;
    -moz-background-size: 12px;
    background-size: 12px;
    font-size: 13px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c_select_list {
    position: absolute;
    width: 132px;
    border: 1px solid #C49E57;
    padding: 5px;
    background: #fff;

    top: 35px;
    left: -1px;

    display: none;

    z-index: 101;
}

.c_select.on>.c_select_list {
    display: block;
}

.c_select.on>.c_select_btn {
    background: url(../img/i_select-1.png) no-repeat center right;
    -moz-background-size: 12px;
    background-size: 12px;
}

.c_select_list>li.c_select_item {
    padding: 5px;
    height: 30px;
    line-height: 20px;
    font-size: 13px;
}


.c_select_list>li.c_select_item:hover {
    /*background: #f8f8f8;*/
    background: #C49E57;
    color: #fff;
}

/*.c_select_list>li.c_select_item.active {
    background: #C49E57;
    color: #fff;
}*/

/*.c_select_list>li.c_select_item:active{
    background: #C49E57;
    color: #fff;
}*/

.go_top {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 40px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
       -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
            box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background: #fff;
    cursor: pointer;
    display: none;
}

.go_top>div {
    height: 40px;
    width: 40px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px;
    position: relative;
}

.go_top>div:hover {
    background: #C49E57;
}

.go_top>div>i {
    display: block;
    width: 24px;
    height: 24px;
}

.conact_box {
    position: absolute;
    /*width: 200px;*/
    /*height: 72px;*/
    padding: 10px 15px;
    background: #fff;
    text-align: right;
    right: 70px;
    top: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
       -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
            box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    display: none;

}

.conact_box:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;

    position: absolute;
    right: -15px;
    top: 20px;
}

.conact_btn:hover .conact_box {
    display: block;
}

.conact_box p {
    color: #999;
    font-size: 14px;
    font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

.conact_box span {
    display: block;
    color: #333;
    font-size: 14px;
    margin-top: 5px;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif

}

/*===========公共 样式=============*/
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
}

/*m_top-25{

}*/
.m_top-30 {
    margin-top: 30px;
}
.m-top-32{
    margin-top: 32px;
}
.m_top-40 {
    margin-top: 40px;
}

.m_top-50 {
    margin-top: 50px;
}

.m_top-80 {
    margin-top: 80px;
}

.m_top-90 {
    margin-top: 90px;
}

.m_top-100 {
    margin-top: 100px;
}
.m_top-130 {
    margin-top: 130px;
}
.m_bottom-10{
    margin-bottom: 10px;
}
.m_bottom-30{
    margin-bottom: 30px;
}
.p_top-30 {
    padding-top: 30px;
}

.p_top-40 {
    padding-top: 40px;
}

.p_top_s-100 {
    padding-top: 100px;
}

.p_top-100 {
    padding-top: 100px;
}

.p_top-120 {
    padding-top: 120px;
}

.p_top-200 {
    padding-top: 200px;
}

.p_bottom-100 {
    padding-bottom: 100px;
}

.p_left-50 {
    padding-left: 50px;
}

.p_right-50 {
    padding-right: 50px;
}

.border_1 {
    border-top: 1px dashed #C49E57;
}

.float_r {
    float: right;
}

.t_align-r{
    text-align: right;
}

.popup{
   height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
.popup_box{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_con{
    padding: 20px;
    color: #fff;
    font-size: 14px;
    background: rgba(0,0,0,.7);
    border-radius: 6px;
    font-family: Roboto-Regular,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}
.hid{
    display: none;
}
button {
    background: none;
    outline: none;
    border: none;
}

pre {
    display: block;
    font-family: -moz-fixed;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 1em 0;

}